<%- include('./partials/nav.ejs') %>
<%- include('./partials/styles.ejs') %>
<main>
    <h1>Examples</h1>
<p>The examples of the GBL API Docs are listed below:<br>
<a href="/examples/js">NodeJS</a> 🔄</p>

</main>